.h1-xasions-user{

    font-size: 15px;
    text-align: center;
    letter-spacing: 5px;
    color: aliceblue;
        opacity: .5;
}
.h1-xasions-Subs{

    font-size: 15px;
    text-align: center;
    letter-spacing: 5px;
     color: aliceblue;
 opacity: .5;
}
.h1-xasions-feedback{
    font-size: 15px;
    text-align: center;
    letter-spacing: 5px;
 color: aliceblue;
    opacity: .5;
}
.database_tables{
     font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
 color: aliceblue;
   opacity: .8;
   
}
